<% content_for :nav_context do %>
  <nav class="app-header__repo" aria-label="Repository">
    <span class="app-header__separator">/</span>
    <%= octicon(:repo, size: 16) %>
    <%= link_to local_repository.name, repository_pulls_path(local_repository), class: "app-header__repo-name" %>
  </nav>
<% end %>
