<header class="gh-repository-header">
  <div class="gh-repository-header__path">
    <span class="gh-repository-owner">local</span>
    <span>/</span>
    <strong><%= local_repository.name %></strong>
    <span class="gh-repository-visibility">Local</span>
  </div>

  <p class="gh-repository-header__location"><code><%= local_repository.path %></code></p>
</header>
